[user]
	name = Martin Landälv
	email = martin@landalv.se
[merge]
	tool = meld
	conflictstyle = zdiff3
[diff]
	tool = meld
	colorMoved = plain
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[alias]
	lga = log --decorate --oneline --graph --all
	st = status -s
	lgas = log --decorate --oneline --graph --all --max-count=20
	ba = branch --all
	lgs = log --decorate --oneline --graph --max-count=20
	lg = log --decorate --oneline --graph
[mergetool]
	keepBackup = false
[core]
	editor = nvim
[mergetool "webstorm"]
	cmd = /opt/webstorm/bin/webstorm.sh merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[difftool "webstorm"]
	trustExitCode = true
	cmd = /opt/webstorm/bin/webstorm.sh diff \"$LOCAL\" \"$REMOTE\"
[init]
	defaultBranch = master
[fetch]
	prune = true
	pruneTags = true
	all = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[rebase]
	updateRefs = true
	autoSquash = true
[column]
	ui = auto
