[theme]
theme = "solarized-dark"

#[icons]
#icons = "awesome6"

[[block]]
block = "focused_window"
[block.format]
full = " $title.str(max_w:100) |"
short = " $title.str(max_w:10) |"

[[block]]
block = "custom"
command = ''' echo "mako $(makoctl mode)" '''
#cycle = [''' [ "$(makoctl mode)" = "default" ] && makoctl mode -a dnd || makoctl mode -r dnd ''']
#cycle = ["makoctl mode -r dnd", "makoctl mode -a dnd"]
interval = 10

#[[block.click]]
#button = "left"
#action = "cycle"

#[[block]]
#block = "custom"
#command = ''' [ "$(cat /tmp/martin-screenshare-status)" = "1" ] && echo "!!! SCREENSHARING !!!" || echo "" '''
#watch_files = ["/tmp/martin-screenshare-status"]

#[[block]]
#block = "amd_gpu"
#format = " $icon GPU: $utilization MEM: $vram_used_percents ($vram_used/$vram_total) "
#interval = 5

#[[block]]
#block = "memory"
#format = " $icon $mem_used.eng(u:B,unit_space:true) / $mem_total.eng(u:B,unit_space:true) ($mem_used_percents) "

# [[block]]
# block = "taskwarrior"
# interval = 600
# format = "$count open tasks ($filter_name)"
# format_singular = "$count open task ($filter_name)"
# format_everything_done = "all tasks done ($filter_name)"
# warning_threshold = 10
# critical_threshold = 20
# [[block.filters]]
# name = "all projects"
# filter = "-COMPLETED -DELETED"

[[block]]
block = "temperature"
#collapsed = false
interval = 10
format = "$min min, $max max"
chip = "k10temp-pci-00c3"
inputs = ["Tctl", "Tccd1", "Tccd2"]

[[block]]
block = "sound"

[[block]]
block = "keyboard_layout"
driver = "sway"
format = "$layout (Colemak DH)"

[[block]]
block = "time"
interval = 10
format = "$timestamp.datetime(f:'%a %F %R', l:sv_SE)"

