# Inspired by https://rushter.com/blog/helix-editor/

theme = "jetbrains_dark"

[editor]
#line-number = "relative"
mouse = true
rulers = [120]
true-color = true
completion-replace = true # Make completions replace the whole word
# trim-trailing-whitespace = true
end-of-line-diagnostics = "hint"
color-modes = true # Makes the mode indicator in the status bar colored
#rainbow-brackets = true

[editor.inline-diagnostics]
cursor-line = "warning" # Makes diagnostics look better

[editor.auto-save]
focus-lost = true

[editor.statusline]
left = [
  "mode",
  "spinner",
  "version-control",
  "spacer",
  "separator",
  "file-name",
  "read-only-indicator",
  "file-modification-indicator",

]
center = []
right = [
  "diagnostics",
  "workspace-diagnostics",
  "position",
  "total-line-numbers",
  "position-percentage",
  "file-encoding",
  "file-line-ending",
  "file-type",
  "register",
  "selections",
]
separator = "│"

[editor.indent-guides]
render = true
character = "╎"
skip-levels = 0

[editor.file-picker]
hidden = false # Show dot files in the file picker

[keys.select]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
G = "goto_file_end"
D = ["extend_to_line_bounds", "delete_selection", "normal_mode"]
k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]

[keys.normal]
"C-/" = "toggle_line_comments"
"C-S-/" = "toggle_block_comments"
"C-S-L" = ":format"
D = ["ensure_selections_forward", "extend_to_line_end", "delete_selection"]
0 = "goto_line_start"
"$" = "goto_line_end"
"^" = "goto_first_nonwhitespace"
G = "goto_file_end"
V = ["select_mode", "extend_to_line_bounds"]
esc = ["collapse_selection", "keep_primary_selection"]

[keys.normal.space.f]
f = "file_picker_in_current_directory"
F = "file_picker"
b = "file_picker_in_current_buffer_directory"
"." = ":toggle-option file-picker.git-ignore"
g = "global_search"
e = "file_explorer"
